---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      What do I use?
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        </ul>
      Cyber tools:
    </p>
    <p class="text-sm font-light">
      Beyond this, I enjoy weight lifting, playing games, watching anime, reading manga, and listening to music.
    </p>
  </div>
</Card>
