---
import Card from '../Card.astro';
import { Icon } from 'astro-icon/components';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Skills">
  <div class="flex flex-col gap-2">
    <div class="flex flex-wrap gap-2">
        <Icon name="skill-icons:javascript" class="w-8 h-8" />
        <Icon name="skill-icons:typescript" class="w-8 h-8" />
        <Icon name="skill-icons:react-dark" class="w-8 h-8" />
        <Icon name="skill-icons:html" class="w-8 h-8" />
        <Icon name="skill-icons:css" class="w-8 h-8" />
        <Icon name="skill-icons:python-dark" class="w-8 h-8" />
        <Icon name="skill-icons:tailwindcss-dark" class="w-8 h-8" />
        <Icon name="skill-icons:java-dark" class="w-8 h-8" />
        <Icon name="skill-icons:materialui-dark" class="w-8 h-8" />
        <Icon name="skill-icons:astro" class="w-8 h-8" />
        <Icon name="skill-icons:git" class="w-8 h-8" />
        <Icon name="skill-icons:ubuntu-dark" class="w-8 h-8" />
        <Icon name="skill-icons:kali-dark" class="w-8 h-8" />
        <Icon name="skill-icons:github-dark" class="w-8 h-8" />
        <Icon name="skill-icons:grafana-dark" class="w-8 h-8" />
      <!-- Add more cards as needed -->
    </div>
    <p class="text-sm font-light">
      Various EDR tools and MDM platforms, including NinjaOne, Jamf, Kandji, Augmentt, and JumpCloud.
    </p>
    <p class="text-sm font-light">
      Beyond this, I enjoy weight lifting, playing games, building keyboards, and listening to music.
    </p>
  </div>
</Card>
