---
import Card from '../Card.astro'
import { Icon } from 'astro-icon/components'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About Me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light text-gray-500">Skills & Tools</p>
    <div class="flex flex-wrap gap-2">
      <Icon name="skill-icons:javascript" class="h-11 w-11" />
      <Icon name="skill-icons:typescript" class="h-11 w-11" />
      <Icon name="skill-icons:react-dark" class="h-11 w-11" />
      <Icon name="skill-icons:html" class="h-11 w-11" />
      <Icon name="skill-icons:css" class="h-11 w-11" />
      <Icon name="skill-icons:python-dark" class="h-11 w-11" />
      <Icon name="skill-icons:tailwindcss-dark" class="h-11 w-11" />
      <Icon name="skill-icons:java-dark" class="h-11 w-11" />
      <Icon name="skill-icons:materialui-dark" class="h-11 w-11" />
      <Icon name="skill-icons:astro" class="h-11 w-11" />
      <Icon name="skill-icons:git" class="h-11 w-11" />
      <Icon name="skill-icons:ubuntu-dark" class="h-11 w-11" />
      <Icon name="skill-icons:kali-dark" class="h-10 w-10" />
      <Icon name="skill-icons:github-dark" class="h-11 w-11" />
      <Icon name="skill-icons:grafana-dark" class="h-11 w-11" />
      <Icon name="skill-icons:windows-dark" class="h-11 w-11" />
    </div>
    <p class="text-sm font-light">
      Various EDR tools and MDM platforms, including NinjaOne, Kandji, Augmentt,
      and JumpCloud.
    </p>
    <p class="text-sm font-light">
      Beyond this, a few hobbies I have are weight lifting, playing games,
      building keyboards, and listening to music.
    </p>
  </div>
</Card>
