---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        Contact Me
      </h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>tommy.nguy14@gmail.com</p>
      <p>Washington DC-Baltimore Area</p>
    </address>
  </div>
</Card>
