---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Contact Me">
  <div class="h-full">
    <p class="text-sm font-light text-gray-500">Contact Details</p>
    <p class="text-sm font-light">tommy.nguy14@gmail.com</p>
    <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank"
      >LinkedIn: TommyNguyen14</a
    >
  </div>
</Card>
