---
import { buttonVariants } from '../components/ui/button'
import { ModeToggle } from '../components/ui/ThemeToggle'
import { Icon } from 'astro-icon/components'
const PDF = '/Nguyen_Resume_2024.pdf'
---

<script is:inline>
  document.addEventListener('astro:after-swap', function () {
    if (localStorage.getItem('theme') === 'dark')
      document.documentElement.classList.toggle('dark', true)
  })

  const getThemePreference = () => {
    return localStorage.getItem('theme')
  }

  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')
</script>

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold text-amber-200"
          >Tommy <span class="hidden sm:inline" ">Nguyen</span></span
        >
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a
          href="https://github.com/TommyNguyen14"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          GitHub
        </a>
        <a
          target="_blank"
          href={PDF}
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          Resume &nbsp;<Icon name="mdi:open-in-new" />
        </a>
        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>
